.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
}

.details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
}

.details-info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.details-image {
  align-self: center;
  object-fit: contain;
}

.details-info {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: start;
}

.details-info-header {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: start;
}

.details-infor-title {
  font-size: 24px;
  text-transform: uppercase;
}

.details-infor-price {
  font-size: 20px;
  text-transform: capitalize;
}

.details-selectors {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.details-color-selector {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: start;
}

@media only screen and (max-width: 450px) {
  .details-body {
    padding: 0 16px;
  }

  .details-info-container {
    flex-direction: column;
  }

  .details-image {
    width: 260px;
    height: 273px;
  }
}
@media only screen and (min-width: 450px) {
  .details-body {
    padding: 0 40px;
  }

  .details-image {
    width: 336px;
    height: 414px;
  }
}
@media only screen and (min-width: 900px) {
  .details-body {
    padding: 0 100px;
  }

  .details-image {
    width: 510px;
    height: 630px;
  }
}
